.date {
  height: 450px;

}
#time {
  background-color: rgba(192, 192, 192, 0.39);
  border: 2px solid;
  padding: 3px;
  border-radius: 20px;
}
#time:hover {
  background-color: rgba(192, 192, 192, 0.74);
}
#task {
  background-color: rgba(192, 192, 192, 0.39);
  border: 2px solid;
  padding: 5px;
  border-radius: 20px;
  margin: 20px;

}
#task:hover {
  background-color: rgba(192, 192, 192, 0.74);
}
.buttons {

  max-width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 50px;
  
}
